* {
  margin: 0px;
  padding: 0px;
}

.navigation {
  background-color: #0c4b33;
  color: white;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Roboto', Corbel, Avenir, 'Lucida Grande', 'Lucida Sans',
    sans-serif;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-nav p {
  color: #44b78b;
  width: 200px;
  margin-left: 20px;
  vertical-align: middle;
}

.left-nav h1,
.left-nav p,
.right-nav p,
.right-nav,
.left-nav {
  display: inline-block;
}

.inline-block {
  display: inline-block;
}

.right-nav p {
  margin-right: 15px;
}

.jumbotron {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  flex-direction: column;
  text-align: center;
  border-bottom: solid silver 1px

}

.jumbotron h1 {
  width: 660px;
  font-family: 'Roboto', Corbel, Avenir, 'Lucida Grande', 'Lucida Sans',
  sans-serif;
  font-weight: lighter;
  font-size: 30px;
}

.jumbotron button {
    font-family: 'Roboto', Corbel, Avenir, 'Lucida Grande', 'Lucida Sans',
    sans-serif;
    font-size: large;
    font-weight: bolder;
    color: white;
    text-align: center;
    border-radius: 10px;
    padding: 20px 40px;
    margin-top: 30px;
    background-color: #44b78b;
    border: none;
}
